<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.8.3" targetFramework="net451" />
  <package id="jquery.mobile" version="1.4.2" targetFramework="net451" />
  <package id="knockoutjs" version="3.1.0" targetFramework="net451" />
  <package id="underscore.js" version="1.6.0" targetFramework="net451" />
</packages>